body{
  color:white;
  background-image:url('https://images.freeimages.com/images/large-previews/3a6/constellation-orion-1382536.jpg');
  background-color:black;
  /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
 }
h1 {
  font-size:150%;
}
 .container{
  margin-top:120px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
 }
